// {
//     "presets": ["@babel/preset-env", "@babel/preset-react"],
//     "plugins": ["@babel/plugin-transform-async-to-generator"]
// }


{
    "presets": ["@babel/preset-env", "@babel/preset-react"],
    "plugins": ["@babel/plugin-transform-runtime"]
    // "plugins": [
    //   ["transform-runtime", {
    //     "regenerator": true
    //   }]
    // ]
  }